<html>
	<head>
		<title>Primeiro exemplo usando node para e template EJS</title>
		<style type="text/css">
			table, td, th {
				border: 1px solid;
			}
		</style>
	</head>
	<body>
	<table>
		<tr>
		    <th>id</th>
		    <th>titulo</th> 
		    <th>isbn</th>
		    <th>preço</th>
		  </tr>

		  	<% for(var i=0; i<lista.length;i++) {%>
		  		<tr>
		  			<td><%= lista[i].id %></td>
				    <td><%= lista[i].titulo %></td> 
				    <td><%= lista[i].isbn %></td> 
				    <td><%= lista[i].preco %></td> 
				 </tr>
		  	<%  } %>
		
	</table>
	</body>
</html>